<article class="bg-white">
    <STYLE>A {text-decoration: none;} </STYLE>
    <a href="/turnos/detail/<%= turno.id %>/<%= turno.category %>">
        <p class="id">Turno N° <%- turno.id %></p>
    </a>
    <div class="turno-info">
        <p class="name"><%- turno.name %></p>
        <h3 class="email"><%- turno.email %></h3>
    </div>

    <div>
        <% if (atendido) { %>
            <button class="atendido-btn"> <a href="/turnos/delete/<%= turno.id %>">Atendido</a></button>
          <% } %>
    </div>
  
    <br><br>
</article>
