<article class="bg-white">
    <a href="/turnos/detail/<%= turno.id %>/<%= turno.category %>">
        <p class="discount">Turno N° <%- turno.id %></p>
    </a>
    <div class="turno-info">
        <p class="price"><%- turno.name %></p>        
        <h3 class="description"><%- turno.email %></h3>
        <p class="description"><%- turno.sector %></p>
        
    </div>
    <br><br>
</article>
