<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('partials/head-base.ejs', {title: 'Detalle de Turno'}) %>
        <link rel="stylesheet" href="/css/style.css" />
    </head>
    <STYLE>A {text-decoration: none;} </STYLE>
    <body>
        <header><%- include('partials/header.ejs') %></header>
        <main>
            <h2 class="title-turno">
                <%= turno.name %>
            </h2>

            <article class="bg-white-turno">
                
                <div class="buy-info">
                    <h2 class="id-turno"><%= turno.id%></h2>
                    <p class="dni-turno">
                        <i class="fas fa-id-card fa-2x"></i> 
                        <%= turno.dni%>
                    </p>
                    <p class="email-turno">
                        <i class="fas fa-mail-bulk fa-2x"></i> 
                        <%= turno.email%>
                    </p>
                    <p class="sector-turno">
                        <i class="fas fa-info fa-2x"></i>
                        <%= turno.sector%>

                    </p>
                    <form action="">
                        <button class="submit" type="submit"><a href="/turnos/delete/<%= turno.id %>">Borrar Turno</a></button>  
                    </form>
                    
            </article>
        </main>
    </body>
</html>
